[submodule "Wave/Include/Dependencies/googletest"]
	path = Wave/Include/Dependencies/googletest
	url = https://www.github.com/google/googletest.git
[submodule "Wave/Include/Dependencies/freetype"]
	path = Wave/Include/Dependencies/freetype
	url = https://www.github.com/freetype/freetype.git
[submodule "Wave/Include/Dependencies/GL/glfw"]
	path = Wave/Include/Dependencies/GL/glfw
	url = https://www.github.com/glfw/glfw.git
[submodule "Wave/Include/Dependencies/imGUI"]
	path = Wave/Include/Dependencies/imGUI
	url = https://github.com/ocornut/imgui.git
	branch = docking
